{% extends 'base.html.twig' %}

{% block title %}Admin!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/bundles/easyadmin/app.css">
    <style>
        :root { --color-primary: #1ABC9C; }
        .content {
            background-color: var(--white);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow-lg);
            padding: 30px 20px;
            width: 100%;
        }
        .form-control-label {
            text-align: left !important;
        }
    </style>
    
{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <header class="main-header mb-4">
            <div id="header-logo">
                {% block header_logo %}
                    <img title="logo" src="{{ asset('favicon.ico') }}">
                {% endblock header_logo %}
            </div>
        </header>
        <section class="content">
            <form method="post" class="form-signin text-center mt-100">                
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        Has iniciado sesión como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar sesión</a>
                    </div>
                {% endif %}
                
                <div class="form-group field-text">
                    <label for="inputEmail" class="form-control-label required">Email </label>
                    <div class="form-widget">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                </div>
                <div class="form-group field-password">
                    <label for="inputPassword" class="form-control-label required">Password </label>
                    <div class="form-widget">
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar sesión</button>
            </form>
        </section>
    </div>
{% endblock %}