/* public/css/admin.css */
:root {
    /* make the backend contents as wide as the browser window */
    /* --body-max-width: 11440px; */
    /* change the background color of the <body> */
    /* --body-bg: #f5f5f5; */
    /* make the base font size smaller */
    /* --font-size-base: 0.875rem; */
    /* remove all border radius to make corners straight */
    /* --border-radius: 4px; */
}

.main-sidebar {
    /* min-width: 140px !important; */
}
.treeview {
    min-width: 150px;
}

.card-box {
    /* background-color: rgb(56 65 74 / 5%); */
    background-color: #f8fafc;
    padding: 1.5rem;
    /* box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%); */
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px 0px;
    margin-bottom: 24px;
    border-radius: 10px;
}

.bg-soft-primary {
    background-color: rgba(97,116,209,.25)!important
}

.bg-soft-success {
    background-color: rgba(30,164,113,.25)!important
}

.bg-soft-warning {
    background-color: rgba(217,120,23,.25)!important
}

.bg-soft-info {
    background-color: rgba(6,121,183,.25)!important
}

.font-22 {
    font-size: 22px;
}
.led-on {
    background-color: green;
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 20px;
}
.led-off {
    background-color: red;
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 20px;
}
.led-on-t{
    background-color: green;
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 20px;
    display: inline-block;
}
.led-off-t {
    background-color: red;
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 20px;
    display: inline-block;
}
.led-black-t {
    background-color: black;
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 20px;
    display: inline-block;
}
.led-text-t{
    margin-left: 5px;
}
@media screen and (max-width: 1024px) {
    .content-wrapper{
        overflow-x: auto !important;
    }
}