{% extends 'access/base_email.html.twig' %}

{% block content %}
    <div style="font-size:20px;font-weight: bolder; text-align: center; margin-bottom:30px"> ¡Valida tu email! </div>

    {% if  user.antiPhishingPassword|length > 0 %}
		<div style="position:relative;margin:auto;margin-bottom:50px;background: #3f768a;color: #FFF;padding: 10px;width: 300px;text-align: center;">
			<span style="font-weight: bold;">Clave anti-pishing:</span> <br>{{user.antiPhishingPassword}}
		</div>
	{% endif %}

    <div style="margin-bottom:30px; text-align:center;">
        <span style="font-weight: bolder;">Hola</span> {{user.fullName}}
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Para poder acceder a tu nueva cuenta de karakorum, es necesario que primero valides tu direcciòn de email.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Para validar tu email pulsa aqui o copia y pega esta url en tu navegador:
    </div>
    <div style="text-align: center;margin-bottom:20px">
        <a href="{{front_url}}/activate-account/{{token}}">{{front_url}}/activate-account/{{token}}</a>
    </div>
{% endblock %}