<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="easyadmin page-login easyadmin-content-width-normal easyadmin-sidebar-width-normal">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %} 
    </body>
</html>
