{% if entity.instance.type == 'deposit' and entity.instance.status == 'success' %}

    {% if entity.instance.locked %}
        
        <span class="led-black-t">
        </span>

    {% elseif date(field.value|date).diff(date("now")).days > 180 %}

        <span class="led-on-t"> 
        </span>

    {% else %}
        <center>
            <span class="led-off-t">
            </span>
            <span class="led-text-t">{{180 - date(field.value|date).diff(date("now")).days}}</span>
        </center>
    {% endif %}
{% endif %}