{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title (transaction) %}
{% block page_actions '<button class="btn btn-primary action-save" onclick="mySubmit()" type="submit">Modificar</button>' %}

{% block page_content %}    
    <form method="post" action="{{url}}" class="form-signin text-center mt-100">
        <div class="form-group field-text">
            <label for="transaction_amount" class="form-control-label required">Estado </label>
            <div class="form-widget">
                <input type="number" value="{{transaction.amount}}" class="form-control" id="transaction_amount" name="transaction_amount" min="0" required autofocus>
            </div>
        </div>
        <input type="hidden" name="transaction_id"   value="{{transaction.id}}">
        <input type="submit" value="" id="btn-submit" style="display: none;">
    </form>
    <script>
        function mySubmit() {
            document.getElementById('btn-submit').click()
        }
    </script>
{% endblock %}