{% extends 'access/base_email.html.twig' %}

{% block content %}
    <div style="font-size:20px;font-weight: bolder; text-align: center; margin-bottom:30px"> 
        Un referido tuyo de primer nivel ha realizado una aportación.
    </div>

    <div style="margin-bottom:30px">
        <span style="font-weight: bolder;">¡Enhorabuena</span> {{parentUser.fullName}}!
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Tu referido {{user.fullName}}, acaba de realizar una aportación. 
    </div>
    <div style="text-align: center;margin-bottom:20px">
        A partir de este momento, dentro de los 2 o 3  próximos días laborables que se confirme la recepción de la aportación, 
        comenzarás a recibir rendimientos obtenidos por él. 
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Podrás visualizar los movimientos a través de tu panel de administración.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Deseamos que estés disfrutando mucho esta aventura y que sea muy rentable para tí.
    </div>
{% endblock %}