{% extends 'access/base_email.html.twig' %}

{% block content %}
    <div style="font-size:20px;font-weight: bolder; text-align: center; margin-bottom:30px"> 
        ¡Resumen Mensual! ---- Resultados de tu cuenta Karakorum en #Enero#.
    </div>
    {% if  user.antiPhishingPassword|length > 0 %}
		<div style="position:relative;margin:auto;margin-bottom:50px;background: #3f768a;color: #FFF;padding: 10px;width: 300px;text-align: center;">
			<span style="font-weight: bold;">Clave anti-pishing:</span> <br>{{user.antiPhishingPassword}}
		</div>
	{% endif %}
    <div style="margin-bottom:30px">
        <span style="font-weight: bolder;">Hola</span> {{user.fullName}}
    </div>
    <div style="text-align: center;margin-bottom:20px">
        En este comunicado mensual, te hacemos un resumen de los resultados obtenidos con tu participación en Karakorum. 
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Este mes de (%mes%) hemos obtenido una rentabilidad bruta del 27,68% con una media de un 1,32% diario.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Si tenemos en cuenta tus aportaciones, has obtenido un <span style="font-weight: bolder;"> 51,44% desde que empezaste.</span>
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Deseamos que estés disfrutando mucho esta aventura y que sea muy rentable para ti.
    </div>
    
{% endblock %}