{% extends 'access/base_email.html.twig' %}

{% block content %}
    <div style="font-size:20px;font-weight: bolder; text-align: center; margin-bottom:60px;margin-top:30px"> 
        "Ya estas un paso más cerca de obtener rendimientos por tus Criptoactivos."
    </div>

    <div style="margin-bottom:30px">
        <span style="font-weight: bolder;">Hola</span> {{user.fullName}}
    </div>
    <div style="text-align: center;margin-bottom:20px">
        “Un viaje de mil millas, comienza con un solo paso”.
    </div>

    <div style="text-align: center;margin-bottom:20px">
        Sucede por impulso. Con arrojo y audacia, nos atrevemos a dar ese primer paso que, como apuntaba el filósofo Lao-Tse, constituye el principio de un largo camino por recorrer. Así son los viajes: arriesgados, osados y atrevidos; y así son los viajeros, que con tenacidad toman la decisión de emprender la escalada hacia la cumbre de su éxito personal.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Desde el equipo de Karakorum, queremos darte la Bienvenida a nuestra plataforma y agradecerte que tomes la decisión de participar en esta experiencia. Gracias a ello no solo “tu” obtendrás beneficios, también estas colaborando a desarrollar “fondos” destinados a realizar proyectos ecológicos, que serán desarrollados por nuestro equipo de ingenieros  buscando a su vez, la máxima rentabilidad.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Nuestro deseo es que; ¡juntos construyamos un mundo mejor!. Para ello, destinamos el 10% de los beneficios obtenidos, y gracias a la fuerza del conjunto, desarrollemos proyectos ¡rentables! y que ayuden a mejorar nuestro planeta.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        No vamos a ocultar que las inversiones en Criptoactivos tienen riesgos, y por ello valoramos aún más tu confianza. Nuestra intención es obtener la máxima rentabilidad para las aportaciones recibidas. Hemos dedicado mucho tiempo y trabajo en investigar y desarrollar nuestra plataforma, por ello vamos a poner todo nuestro conocimiento y experiencia para obtener la máxima rentabilidad con el menor riesgo. 
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Nuestro sistema de IA: “SHERPA”, reparte los beneficios obtenidos diariamente por el fondo entre los socios y permite que de forma automática e instantánea, puedas hacer el retiro de tus beneficios a tu billetera de Bitcoin.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Recuerda que para comenzar a obtener rentabilidad, debes hacer tus aportaciones al fondo a través de tu panel de administración.
    </div>
    <div style="text-align: center;margin-bottom:20px">
        Bienvenido a esta nueva aventura, deseamos que la disfrutes mucho y que sea muy rentable para ti.
    </div>
{% endblock %}